#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	apt-get --assume-yes install ruby
	gem install librarian-puppet-simple --no-ri --no-rdoc
	rm -f $(CURDIR)/debian/puppet-jiocloud/usr/share/hiera/hiera.yaml
	export git_protocol=https
	librarian-puppet install --puppetfile=$(CURDIR)/Puppetfile  --path=$(CURDIR)/modules
	dh_install

refresh_modules:
	rm -rf modules
	librarian-puppet install --puppetfile=$(CURDIR)/Puppetfile  --path=$(CURDIR)/modules

override_dh_auto_clean:
	dh_auto_clean
